label {
    margin: 3rem;
    padding: 3rem;
    width: 60%;
    font-size: 2rem;
    background-color: beige;
    border-radius: 10px;
}

input {
    margin: 3rem;
    padding: 1rem;
    width: 60%;
    font-size: 2rem;
    border-radius: 1.2rem;
}

textarea {
    height: 30vw;
    padding: 1rem;
    width: 80%;
    margin: 4rem;
    font-size: 2rem;
    color: black;
    border-radius: 1.5rem;
}