body {
  background-image: url("../assets/images/toa-heftiba-QnUywvDdI1o-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 100vw;
  background-repeat: no-repeat;
}

.main-navigation {
  font-size: 2rem;
  text-decoration: none;
  background-color: beige;
  border-radius: 10px;
  display: inline-block;
  margin: 2rem;
  padding: 2rem;
}
