body {
  background-image: url("../assets/images/estee-janssens-NO0W3c0speE-unsplash\ \(1\).jpg");
  background-position: center;
  background-size: cover;
}

button {
  padding: 1rem 4rem;
  margin: 4rem;
  font-size: 1.5rem;
  background-color: plum;
  color: black;
  border-radius: 0.3rem;
}
