

.main-navigation {
  background-color: beige;
  margin: none;
  position: fixed;
  top: 0%;
  padding: 0rem 1rem;
  
  &__list {
    width: calc(100vw - 3rem);
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
  }

  &__links {
    font-size: 2rem;
    text-decoration: none;  
    border-radius: 10px;
    display: inline-block;
    padding: 1rem;
  }
  
}

button {
  padding: 1rem 4rem;
  margin: 4rem;
  font-size: 1.5rem;
  background-color: plum;
  color: black;
  border-radius: 0.3rem;
}
