li {
  list-style: none;
}
.links__section {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  display: block;
  padding: 0.5rem 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  background-color: plum;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

textarea {
  height: 30vw;
  padding: 1rem;
  width: 80%;
  margin: 4rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 1.5rem;
}
input {
  margin: 3rem;
  padding: 1.5rem;
  width: 40%;
  font-size: 1.5rem;
  border-radius: 1.2rem;
}
section {
  display: flex;
}
