*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    background-image: url("./assets/images/estee-janssens-NO0W3c0speE-unsplash\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    height: 100vw;
    background-repeat: no-repeat;
    margin: 4rem 0rem 0rem 0rem;
  }
